<div class="profile-card card-shadow">
    <div class="cover-image"><img src="/src/assets/main-cover.png" alt="main-cover"></div>
    <div class="title">Hasanur Seam</div>
    <div class="profile-img-container">
        <img class="profile-img" src="/src/assets/profile-image-main-1.jpg" alt="">
    </div>
    <div class="details">
        <div class="introduction">
            <div class="work"> <img src="/src/assets/work-icon.png" alt="work">Software Engineer</div>
            <div class="location"> <img src="/src/assets/location-icon.png" alt="location">Lives in <strong>Bremen, Germany</strong></div>
            <div class="home-location"><img src="/src/assets/home-location-icon.png" alt="home-town">From <strong>Dhaka, Bangladesh</strong></div>
        </div>
        <div class="workplace">
            <div>American International University Bangladesh</div>
            <div> University of Bremen</div>
        </div>
    </div>
</div>
