<style>
    .license-card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .license{
        display: flex;
        flex-direction: row;
        gap:10px;
    }

    .name-details{
        display:flex;
        flex-direction: column;
        flex: 1;
    }
    .brand-logo img{
        height: 30px;
    }
    .name{
        font-weight: 500;
    }
    .details{
        color: var(--text-secondary-linkedin);
    }
    .link-container{
       margin-top: 5px;
    }
    a{
        text-decoration: none;
        color: var( --primary-color-linkedin);
        font-weight: 500;
        margin-top: 5px;
    }
    a:hover{
        background-color: aquamarine;
        padding: 5px;
        margin: 5px -5px;
    }
    a img{
        height: 20px;
    }
</style>
<div class="license-card card-shadow">
    <div class="title">License and Certification</div>
    <div class="license">
        <div class="brand-logo"><img src="/src/assets/workplace-img.svg" alt=""></div>
        <div class="name-details">
            <div class="name">Top-Up IT Training</div>
            <div class="details">
                <div>George Washington University, USA</div>
                <div>Issued: March 2018</div>
                <div class="link-container">
                    <a href="http://" target="_blank" rel="noopener noreferrer">See Credential 
                        <img src="/src/assets/linkedin-link-icon.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
