<div class="education-card card-shadow">
    <div class="title">Education</div>
    <div class="education-card-subpart">
        <div class="uni-brand"><img src="/src/assets/uni-bremen-monogram.png" alt=""></div>
        <div class="uni-card">
            <div class="uni-name-date-container">
                <div class="uni-name">University of Bremen</div>
                <div class="uni-date">2019-2024</div>
            </div>
            <div>Ms in Media Informatics</div>
            <div class="details">
                <div>Search Technology In Web and Media</div>
                <div>Data Science</div>
                <div>Mobile App Development ( Both Native and Cross Platforms)</div>
            </div>
        </div>
    </div>
    <div class="education-card-subpart">
        <div class="uni-brand"><img src="/src/assets/aiub-monogram.png" alt=""></div>
        <div class="uni-card">
            <div class="uni-name-date-container">
                <div class="uni-name">AIUB</div>
                <div class="uni-date">2014-2018</div>
            </div>
            <div>Bachelor in Software Engineering</div>
            <div class="details">
            </div>
        </div>
    </div>
</div>