
    <div class="profile-card">
        <img class="cover-image" src="/src/assets/linkedin-cover.svg" alt="">
        <div class="profile-img-container">
            <img class="profile-img" src="/src/assets/profile-pic.png" alt="">
        </div>
        <div class="description-container">
            <div class="description-container-left">
                <div class="title">Hasanur Seam</div>
                <div class="designation">Software Engineer | NodeJs | Angular | Java(Spring boot) | MongoDB |
                    PostgreSQL | MSc Uni-Bremen</div>
                <div class="contact">
                    <div>Bremen, </div>
                    <div>Bremen, </div>
                    <div>Germany </div>
                    <div class="dot">.</div>
                    <div class="info">Contact Info</div>
                </div>
                <div class="connection">
                    <div>270 Followers</div>
                    <div class="dot">.</div>
                    <div>264 Connection</div>
                </div>
                <div class="mutual-connection">
                    <img src="/src/assets/mutual-img-1.jpg" alt="">
                    <img src="/src/assets/mutual-img-2.jpg" alt="">
                    <img src="/src/assets/mutual-img-3.jpg" alt="">
                    <div>See your mutual connections</div>
                </div>
                <div class="button-container">
                    <button class="join">Join to view profile</button>
                    <button class="message"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 16 16" fill="#0a66c2" focusable="false" class="lazy-loaded"
                            aria-busy="false">
                            <path d="M14 2L0 6.67L5 9.31L10.67 5.33L6.7 11L9.33 16L14 2Z" fill-opacity="0.75">
                            </path>
                        </svg>
                        Message</button>
                </div>
            </div>
            <div class="description-container-right">
                <div class="workplace"><img src="/src/assets/workplace-img.svg" alt="">University of Bremen</div>
                <div class="workplace university"><img src="/src/assets/university_of_bremen_logo.jpg"
                        alt="">University of Bremen</div>
            </div>
        </div>
    </div>
    