/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}



/*******ALL Linkedin GLobal CSS*******/
:root{
    --primary-color-linkedin: #0a66c2;
    --text-primary-linkedin:#171717;
    --text-secondary-linkedin:#808080;
    --border-color-linkedin-white:#cdcfd2;
}
.title{
    font-size: 20px;
    font-weight: 500;
    color:var(--text-primary-linkedin);
}

.card-shadow {
    border: solid 1px var(--border-color-linkedin-white);
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}

/***********************All Home GLobal CSS*************************/
:root{
    --background-color-home-profile:#e7e7e7;
    --text-primary-color-home-profile:#4c4c4c;
    --text-secondary-color-home-profile:#0395de;
}