.container {
    max-width: 1168px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
    padding: 0 16px;
}

.main-profile-cards {
    flex: 2;
}

.other-profile-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

app-linkedin-card {
    flex: 1;
}

app-leetcode-card {
    flex: 1;
}

app-github-card {
    flex: 1;
}

.dummy {
    flex: 1;
}

/* Responsive breakpoints */
@media screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        gap: 24px;
    }
    .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-profile-cards {
        flex: 1;
    }

    .other-profile-cards {
        flex: 1;
    }
}

@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
    }

    .container {
        padding: 0 12px;
        gap: 16px;
    }
}
